@model ProjectName.DATA.EF.Product

@{
    ViewBag.Title = "ProductDetails";
}

<h2>ProductDetails</h2>

<div style="background-color: white;">
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsMensApperal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMensApperal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFemaleApperal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFemaleApperal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherApperal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherApperal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.ProductImage)*@
            <img src="~/Content/assets/images/@Model.ProductImage" alt="@Model.ProductName"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockStatu.StockStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockStatu.StockStatus)
        </dd>

    </dl>

@* ADDED THIS FOR "ADD TO CART" FUNCTIONALLITY *@
<p>
    @using (Html.BeginForm("AddToCart", "Products", new { @productID = Model.ProductID }, FormMethod.Post, new { @class = "text-center" }))
    {
        @Html.HiddenFor(x => x.ProductID)
        <span class="label" style="color: #000;">Quantity: </span>
        @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
        <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
    }
</p>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
